@mixin button() {
  outline: none;
  border-radius: 5rem;
  border: none;
  color: #fff;
  background: #0bb029;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-left: 40px;
  margin-top: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
  font-size: 60%;
}

body {
  overflow-x: hidden;
}

#header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  z-index: 1000;

  .hamburger {
    font-size: 4rem;
    z-index: 10000;
    color: white;
    cursor: pointer;
    display: none;
  }

  .logo {
    img {
      height: 5rem;
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        margin-right: 4rem;
        :hover {
          color: #0bb029;
        }
        a {
          color: #fff;
          font-size: 2rem;
          text-decoration: none;
        }
      }
    }
  }
}

#home {
  background: rgba(22, 22, 22, 0.5);
  position: relative;

  .content {
    h1 {
      font-size: 5rem;
      font-weight: bolder;
      color: #fff;
      margin-left: 40px;
    }
    
    h2 {
      font-size: 3.5rem;
      font-weight: bolder;
      color: #fff;
      margin-left: 40px;
      margin-top: 20px;
    }
    p {
      font-size: 1.5rem;
      color: #ccc;

    }
    button {
      @include button();
      height: 4rem;
      width: 14rem;
    }
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 100%;
    z-index: -1;

    .vid {
      position: absolute;
      height: 100vh;
      min-width: 100%;
      object-fit: cover;
      display: none;
    }
    .vid1 {
      display: block;
    }

  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #header {
    .hamburger {
      display: block;
    }

    nav {
      position: fixed;
      top: 0;
      left: -120%;
      height: 100vh;
      width: 35rem;
      background: #000;
    }

    ul {
      flex-flow: column;
      justify-content: center;
      height: 100%;

      li {
        margin: 2rem 0;

        a {
          font-size: 3.5rem;
          border-radius: 5rem;
        }
      }
    }
    .nav-toggle {
      left: 0%;
    }
  }
}
